/* @import url("https://fonts.googleapis.com/css?family=Fredoka+One"); */
/* @import url("https://fonts.googleapis.com/css?family=Baloo+Paaji"); */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Fredoka One", cursive;
  --font-family: "Baloo Paaji", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: none;
}

#game {
  /* height: 100vmin; */
  /* width: 100vmin; */
  background-color: #9ec79e;

  border: 20px inset #c71585;
  background-color: #ffdcf2;
}

.splash-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over {
  font-size: 4em;
}

.high-scores {
}

.debug {
  position: absolute;
  font-size: 4em;
}
