@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Fredoka One", cursive;
  --font-family: "Baloo Paaji", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas#game {
  display: none;
  height: 600px;
  width: 800px;
  background-color: #9ec79e;
}

.splash-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over {
  font-size: 4em;
}

.high-scores {
}
