@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
/* @import url("https://fonts.googleapis.com/css?family=Baloo+Paaji"); */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: fixed;
}

body {
  overflow: hidden;
  font-family: "Fredoka One", cursive;
  --font-family: "Baloo Paaji", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  box-sizing: border-box;
  height: 100vmin;
  width: 100vmin;
  /* background-color: #9ec79e; */
}

canvas {
  border: 20px inset #15c733;
  background-color: #dcffe1;
  transition: all 300ms ease;
}

.splash-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffffaa;
  padding: 10px;
  border-radius: 10px;

  border: 2px solid #15c733;
}

.hidden {
  visibility: hidden;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.game-over {
  font-size: 4em;
}

.btn-start-game {
  font-size: 2em;
  border-color: black;
  background-color: lightgray;
}

.debug {
  position: absolute;
  font-size: 4em;
}
